* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 65%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
  
  table,
  td,
  th,
  tr {
    border: 0.05rem solid rgba(197, 197, 197, 0.486);
    font-size: 1.4rem;
    height: 2.5rem;
    border-spacing: 0rem;
  }
  
  th {
    font-weight: 500;
  }
  
  thead {
    /* background-color: rgb(160, 180, 206); */
    background-color: #f1f1f1;
    /* color: #fff; */
  }
  
  td {
    min-width: 10rem;
    padding: 0.2rem 0.5rem;
  }
  
  th {
    padding: 0.2rem 0.4rem;
  }

  
  tbody th {
    min-width: 5rem;
    background: #fafafa;
  }

  .spreadsheet {
    margin: 1rem 0.5rem;
  }

  .column-header-span {
    cursor: pointer;
  }
  
  .spreadsheet-controls {
    margin-left: 0.5rem;
    margin-top: 5em;
  }
  
  .control-btn {
    padding: 0.5rem 1.5rem;
    background-color: grey;
    color: #fff;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: ease 0.3s;
  }
  
  /*Highlights column/row upon selection*/
  .selected {
    background-color: grey;
  }